{%extends "root.html"%}
{%block body%}
<div class="question">
	<h2>{{q["title"]}}</h2>
	<div class="question-body">
		{%if q["body"].strip() <> ""%}
		<p>{{q["body"]}}</p>
		{%end%}
	</div>
</div>
<script type="text/javascript"><!--
google_ad_client = "ca-pub-9172306856089881";
/* 页内文字 */
google_ad_slot = "6681825545";
google_ad_width = 468;
google_ad_height = 15;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
<div class="question" style="margin-top:40px;">
	<h3>答案</h3>
</div>

{%if q["anwsers"][0]%}
<div class="question best-anwser">
	{% raw q["anwsers"][0]%}
</div>
{%end%}


{%if q["anwsers"][1]%}
<div class="question recommended">
	{% raw q["anwsers"][1]%}
</div>
{%end%}


{%for i in range(2,len(q["anwsers"]))%}
<div class="question anwsers">
	{% raw q["anwsers"][i]%}
</div>
{%end%}



{%end%}
