<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <meta content="en-us" http-equiv="Content-Language"/>
  <meta content="Twitter is without a doubt the best way to share and discover what is happening right now." name="description"/>
  <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, width=device-width" />
  <!--[if IE 7]>
  <meta name="viewport" content="initial-scale=1.0, width=1024px"/>
  <![endif]-->

  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <!--[if IE 9]>
  <link href="/iefavicon.ico" rel="shortcut icon" type="image/x-icon" />
  <![endif]-->

  <title>好啦中文网 </title>


  <link href="{{static_url("haola.css")}}" media="screen" rel="stylesheet" type="text/css" />
  <!--[if IE]>
  <link href="{{static_url("ie.css")}}" media="screen" rel="stylesheet" type="text/css" />
  <![endif]-->

  <!--[if IE 7]>
  <link href="{{static_url("ie7.css")}}" media="screen" rel="stylesheet" type="text/css" />
  <![endif]-->
  
</head>

<body class="article-page" >

<div id="top-stuff">
  <div class="topbar">
    <div class="topbar-bg"></div>
    <div class="topbar-inner">
      <div class="fixed-container clearfix">
        <div id="home-logo">

          <a class="logo" accesskey="1" href="/">
            <div class="desktop-logo">
              <span class="desktop-name">好啦中文网</span>
            </div>

          </a>
        </div>

        <div id="search_holder">
<form action="/homes/search" id="helpcenter_search" method="get" page="1">    <span class="glass left"><i></i></span>
    <input id="query" name="query" placeholder="Search the help center" type="text" />
</form></div>


   
      </div> <!-- /fixed-container -->
    </div> <!-- /topbar-inner -->
  </div> <!-- /topbar -->
  
</div> <!-- /top-stuff -->

<div id="container">

  <div id="support_content">

	  <div class="rightbar">
	  <script type="text/javascript"><!--
	google_ad_client = "ca-pub-9172306856089881";
google_ad_slot = "9321884215";
google_ad_width = 160;
google_ad_height = 600;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
	  </div>
	<div class="contentpage">
		{%block body%}{%end%}
	</div>




  </div>

    <div id="footer">
      <ul class="unstyled footer-link-list">
        <li class="copyright">&copy; 2011 haola.cc</li>
        <li class="divider">&middot;</li>
		<li class="back-twitter-link"><a href="http://twitter.com/">返回首页</a></li>

          </ul>
    </div>
</div> <!-- /container -->

<div id="notifications">
  <div class="notification-bar-container"></div>
</div> <!-- /notifications -->
</body>
</html>

