<!DOCTYPE html>
<!-- Update your html tag to include the itemscope and itemtype attributes -->
<html itemscope itemtype="http://schema.org/Knowledge">
<head>
<!-- Add the following three tags inside head -->
<meta itemprop="name" content="好啦中文网">
<meta itemprop="description" content="好啦中文网解决您的问题"> 
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <meta content="en-us" http-equiv="Content-Language"/>
  <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, width=device-width" />
  <meta name="keywords" content="haola.cc,搜搜,问问,健康,滋味,八卦, {%if handler.title%}{{handler.title}}{%end%}" />
  <!--[if IE 7]>
  <meta name="viewport" content="initial-scale=1.0, width=1024px"/>
  <![endif]-->

  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <!--[if IE 9]>
  <link href="/iefavicon.ico" rel="shortcut icon" type="image/x-icon" />
  <![endif]-->

  <title> {%if handler.title%}{{handler.title}} - {%end%}好啦中文网</title>


  <link href="{{static_url("haola.css")}}" media="screen" rel="stylesheet" type="text/css" />
  <!--[if IE]>
  <link href="{{static_url("ie.css")}}" media="screen" rel="stylesheet" type="text/css" />
  <![endif]-->

  <!--[if IE 7]>
  <link href="{{static_url("ie7.css")}}" media="screen" rel="stylesheet" type="text/css" />
  <![endif]-->
  
</head>

<body class="article-page" >

<div id="top-stuff">
  <div class="topbar">
    <div class="topbar-bg"></div>
    <div class="topbar-inner">
      <div class="fixed-container clearfix">
        <div id="home-logo">

          <a class="logo" accesskey="1" href="/">
            <div class="desktop-logo">
              <span class="desktop-name">好啦中文网</span>
            </div>

          </a>
        </div>

        <div id="search_holder">
<form action="/" id="helpcenter_search" method="get" page="1">    <span class="glass left"><i></i></span>
    <input id="query" name="keyword" placeholder="" type="text" />
</form><!-- Place this tag where you want the +1 button to render -->
<span style="position:absolute; margin-left:300px; margin-top:10px;">
<g:plusone size="medium" annotation="inline"></g:plusone>

<!-- Place this render call where appropriate -->
<script type="text/javascript">
  window.___gcfg = {lang: 'zh-CN'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
</span>
</div>

      </div> <!-- /fixed-container -->
    </div> <!-- /topbar-inner -->
  </div> <!-- /topbar -->
  
</div> <!-- /top-stuff -->

<div id="container">

  <div id="support_content">

	  <div class="rightbar">
		  <ul>
			  <li><h3>热门搜索</h3></li>
			  {%for k in rkeys%}
			  <li><a href="/s/{{k}}">{{k}}</a></li>
			  {%end%}
		  </ul>

	  <script type="text/javascript"><!--
	google_ad_client = "ca-pub-9172306856089881";
google_ad_slot = "9321884215";
google_ad_width = 160;
google_ad_height = 600;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
	  </div>
  
	  <div class="contentpage" style="min-height:600px;">
		{%block body%}{%end%}
	</div>
	<div style="clear:both"></div>



  </div>

    <div id="footer">
      <ul class="unstyled footer-link-list">
        <li class="copyright">&copy; 2011 haola.cc</li>
        <li class="divider">&middot;</li>
		<li class="back-twitter-link"><a href="http://www.haola.cc/">返回首页</a></li>

          </ul>
    </div>
</div> <!-- /container -->

<div id="notifications">
  <div class="notification-bar-container"></div>
</div> <!-- /notifications -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25724934-1']);
  _gaq.push(['_setDomainName', 'haola.cc']);
  _gaq.push(['_setAllowHash', false]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>

