{%extends "root.html"%}

{%block body%}
<script type="text/javascript"><!--
google_ad_client = "ca-pub-9172306856089881";
/* 468_60横幅 */
google_ad_slot = "7797429098";
google_ad_width = 468;
google_ad_height = 60;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
	{%for l in list%}
	<div style="margin-bottom:10px;">
		<h3>{% raw l["title"] %}</h3>
		<p style="padding:5px 5px 5px 5px;font-size:16px;">
			{% raw l["description"]%}
		</p>
	</div>
	{%end%}

	<div>
		{%if rtable%}
		{%raw rtable%}
		{%end%}
	</div>
<script type="text/javascript"><!--
google_ad_client = "ca-pub-9172306856089881";
/* 页内文字 */
google_ad_slot = "6681825545";
google_ad_width = 468;
google_ad_height = 15;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
{%end%}
